.newly-added-module {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.newly-added-module>.el-form-item {
    margin-bottom: 15px;
}

.select-btn-box {
    float: right;
}

.el-form-item__content {
    display: flex;
    align-items: center;
    height: 100%;
}

.el-col-zidingyi .el-form-item {
    display: flex;
    align-items: center;
}