<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      type="text/javascript"
      src="../resources/babel/browser.min.js"
    ></script>
    <script
      type="text/javascript"
      src="../resources/babel-polyfill/dist/polyfill.js"
    ></script>
    <script src="../resources/vue/vue-2.5.17.js"></script>
    <link
      rel="stylesheet"
      href="../resources/element-ui/lib/theme-chalk/index.css"
    />
    <script src="../resources/element-ui/lib/index.js"></script>
    <script src="../resources/axios/dist/axios.js"></script>

    <script src="../resources/utils/helper.js"></script>
    <script src="./api.js"></script>
    <!-- css -->
    <link rel="stylesheet" href="../resources/utils/index.css" />
    <link rel="stylesheet" href="./index.css" />
    <title>用户数据授权</title>
    <script type="text/javascript">
      var newStrategicAccountRoot = "";
    </script>
  </head>
  <body>
    <div id="mainApp">
      <el-form ref="searchForm" :model="formInline" class="user-auth-select-header">
        <el-row style="height: 60px" :gutter="20">
          <el-col :span="6" class="el-col-zidingyi">
            <el-form-item label="用户名称 :" prop="userName" class="user-auth-form-item">
              <el-input
                v-model="formInline.userName"
                placeholder="用户名称"
                size="mini"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="6" class="el-col-zidingyi">
            <el-form-item label="机构名称 :" prop="orgName" class="user-auth-form-item">
              <el-select
                filterable
                v-model="formInline.orgName"
                placeholder="机构名称"
                size="mini"
                clearable
                style="width: 100%"
              >
                <el-option
                  v-for="item in orgList"
                  :key="item.orgId"
                  :label="item.orgName"
                  :value="item.orgId"
                ></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <div class="btn-box">
            <el-button type="primary" class="search" size="mini" @click="searchFilter"
              >查询</el-button
            >
            <el-button class="reset" size="mini" @click="resetHandler"
              >重置</el-button
            >
          </div>
        </el-row>
      </el-form>
      <div class="table-btn-area">
        <el-button type="primary" plain class="audit" size="mini" @click="searchFilter"
          >审核</el-button
        >
        <el-button plain class="audit" size="mini" @click="resetHandler"
          >反审核</el-button
        >
      </div>
      <div class="table-content">
        <el-table
          :data="tableData"
          border
          :row-style="{fontSize:'12px'}"
          :header-cell-style="{background:'#eef1f6',color:'#606266',fontSize:'12px'}"
          style="width: 100%"
          :height="tableHeight"
          v-loading="loading"
          class="table-box"
        >
          <el-table-column  type="selection" width="40" fixed>
          </el-table-column>
          <el-table-column type="index" label="序号" width="50" align="center" fixed>
          </el-table-column>
          <el-table-column label="操作" width="180" align="center" fixed>
            <template slot-scope="{row,$index}">
              <el-button
                @click.native.prevent="handleStatus(row)"
                type="text"
                size="small"
              >
                {{row.authSta === '2' ? "反审核":"审核"}}
              </el-button>
              <el-button
                @click.native.prevent="lookRow(row)"
                type="text"
                size="small"
              >
                查看
              </el-button>
              <el-button
                @click.native.prevent="editRow(row)"
                v-show="row.authSta !== '2'"
                type="text"
                size="small"
              >
                授权
              </el-button>
              
            </template>
          </el-table-column>
          <el-table-column
            prop="userName"
            label="用户名称"
            width="130"
            align="center"
            show-overflow-tooltip
            sortable
          >
          </el-table-column>
          <el-table-column
            prop="userLoginCode"
            label="登录名称"
            width="150"
            align="center"
            sortable
            show-overflow-tooltip
          >
          </el-table-column>
          <el-table-column
            prop="orgName"
            label="所属机构"
            align="center"
            sortable
            show-overflow-tooltip
          >
          </el-table-column>
          <el-table-column
            prop="authSta"
            label="是否授权"
            width="150"
            align="center"
            sortable
            show-overflow-tooltip
          >
            <template slot-scope="scope">
              <el-tag type="info" size="mini" v-if="scope.row.authSta === '1'">未授权</el-tag>
              <el-tag type="success" size="mini" v-if="scope.row.authSta === '2'">已授权(已审核)</el-tag>
              <el-tag type="danger" size="mini" v-if="scope.row.authSta === '3'">已授权(未审核)</el-tag>
            </template>
          </el-table-column>
          <el-table-column
            prop="mdfyPrsn"
            label="授权人"
            align="center"
            width="100"
            sortable
            show-overflow-tooltip
          >
          </el-table-column>
          <el-table-column
            prop="mdfyTime"
            label="授权时间"
            align="center"
            sortable
            show-overflow-tooltip
          >
          </el-table-column>
          <el-table-column
            prop="checkerName"
            label="审核人"
            align="center"
            width="100"
            sortable
            show-overflow-tooltip
          >
          </el-table-column>
        </el-table>
      </div>
      <el-pagination
        class="pagination"
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page="page"
        :page-sizes="[100,300,500]"
        :page-size="size"
        layout="total, sizes, prev, pager, next, jumper"
        :total="total"
      >
      </el-pagination>

      <el-dialog
        class="user-auth-dialog"
        v-if="visible"
        :title="title"
        :visible.sync="visible"
        width="500"
        custom-class="dialog"
        :before-close="handleClose"
        :close-on-press-escape="false"
        :close-on-click-modal="false"
      >
        <div class="form-content">
          <div class="text">
            <div class="item-title">基本信息</div>
            <el-form
              ref="form"
              :model="currentData"
              class="form-box"
              :disabled="!!currentData.disabled"
              :inline="true"
            >
              <el-form-item
                label="用户名称 :"
                prop="pfName"
              >
                <el-input
                  disabled
                  v-model="currentData.pfName"
                  placeholder="组合名称"
                  size="mini"
                ></el-input>
              </el-form-item>
              <el-form-item
                label="所属机构 :"
                prop="pfId"
              >
                <el-input
                  disabled
                  v-model="currentData.pfId"
                  placeholder="组合代码 :"
                  size="mini"
                  maxlength="50"
                show-word-limit
                ></el-input>
              </el-form-item>
            </el-form>
          </div>
          <div class="dialog-form-item">
            <div class="item-title">真实组合授权</div>
            <el-form
              ref="form"
              :model="currentData"
              class="form-box"
              :inline="true"
            >
              <el-form-item
                label="组合树选择 :"
                prop="pfName"
              >
                <el-select
                  filterable
                  v-model="selectVal"
                  placeholder="请选择组合树"
                  size="mini"
                  style="width: 100%"
                >
                  <el-option
                    v-for="item in UserAuthTreeIdList"
                    :key="item.pfChildId"
                    :label="item.pfChildName"
                    :value="item.pfChildId"
                  ></el-option>
                </el-select>
              </el-form-item>
              </el-form-item>
            </el-form>
          </div>
          <div class="dialog-form-item">
            <div class="item-title">真实组合树</div>
            <div class="tree-area">
              <div class="tree-filter">
                <el-input
                  placeholder="快速检索"
                  size="mini"
                  v-model="filterText"
                  style="margin-top: 10px; width: 200px"
                >
                </el-input>
                <div class="btn-area">
                  <el-button size="mini" plain type="primary" @click="expandHandle">{{this.expandAll ? '全部收起' : '全部展开'}}</el-button>
                </div>
              </div>
              <div class="tree">
                <el-tree
                  class="filter-tree"
                  :data="treeData"
                  :props="defaultProps"
                  node-key="id"
                  :default-expand-all="expandAll"
                  :filter-node-method="filterNode"
                  ref="tree"
                  show-checkbox
                  @check="checkChange"
                >
                </el-tree>
              </div>
            </div>
          </div>
        </div>
        <span
          v-show="!currentData.disabled"
          slot="footer"
          class="dialog-footer"
        >
          <el-button size="mini" type="primary" @click="submit">提交</el-button>
          <el-button size="mini" @click="handleClose">返回</el-button>
        </span>
      </el-dialog>
    </div>
    <script type="text/babel">
      let newStrategicAccountVue = new Vue({
        el: "#mainApp",
        data() {
          return {
            treeData: [],
            selectVal: "",
            filterText: "",
            defaultProps: {
                children: "children",
                label: "name",
                disabled: this.disabledFn,
            },
            formInline: {
              userName: "",
              orgName: ""
            },
            // 机构名称
            orgList: null,
            // 组合树选择
            UserAuthTreeIdList: null,
            expandAll: true,

            // 托管人
            trustmngrList: null,
            // 估值日
            dayList: null,
            // 委托人
            //personList: null,
            // 资管是主动投资/被动投资
            wayList: null,
            // 投顾机构
            tgorgList: null,
            // 审核状态
            cChecked: null,
            // 组合扩展属性
            extList: null,
            // 资产类型
            assetTypeList: null,
            // 表格数据
            tableData: [],
            currentData: {},
            resetData: {},
            visible: false,
            height: null,
            tableHeight: null,
            page: 1,
            size: 100,
            total: 0,
            title: null,
            infoExtsCheckBoxData: [],
            loading: false,
            rules: {
              required: true,
              message: "此输入项为必填项！",
              trigger: "change",
            },
            investMgrList: [],
          };
        },
        mounted() {
          this.tableHeight =
            document.getElementsByClassName("table-content")[0].offsetHeight;
          this.getSelectData(); 
          this.org();
          this.searchFilter()
          this.getJZAllByClassId();
        },
        computed: {
          getRules() {
            return this.title === "查看" ? {} : this.rules;
          },
        },
        watch: {
          // filter tree
          filterText(val) {
              this.$refs.tree.filter(val);
          },
          // 选择树
          selectVal(newVal) {
            this.searchTree();
          },
          page(newVal) {
            this.searchFilter();
          },
          size(newVal) {
            this.searchFilter();
          },
          visible(newVal) {
            if (!newVal) {
              this.currentData = {};
              this.resetData = {};
              this.infoExtsCheckBoxData = [];
            }
          },
          "currentData.investMgr": {
            handler(newVal, oldVal) {
              if (!newVal) return;
              const data = this.investMgrList.filter(
                (item) => item.keyId === newVal
              );
              if (data.length) {
                this.currentData.investDepName = data[0].depName;
                this.currentData.investDep = data[0].depId;
              }
            },
            deep: true,
          },
        },
        methods: {
          //tree展开收起
          expandHandle() {
            this.expandAll = !this.expandAll;
            this.expandNodes(this.$refs.tree.store.root);
          },
          // 遍历树形数据，设置每一项的expanded属性，实现展开收起
          expandNodes(node) {
            node.expanded = this.expandAll;
            for (let i = 0; i < node.childNodes.length; i++) {
              node.childNodes[i].expanded = this.expandAll;
              if (node.childNodes[i].childNodes.length > 0) {
                this.expandNodes(node.childNodes[i]);
              }
            }
          },
          // 过滤树
          filterNode(value, data) {
              if (!value) return true;
              return data.name.indexOf(value) !== -1;
          },
          // 选择树
          checkChange(a, b) {
              console.log(a, b);
              let data = b.checkedNodes.filter((item) => item.leaf);
              /*    if (data.length > 10) {
                      this.$message({
                          showClose: true,
                          message: "最多能选中10个",
                          type: "warning",
                      });
                      this.$refs.tree.setCheckedNodes(this.selectList);
                  } else {
                      this.selectList = data;
                  }*/
              this.selectList = data;
          },
          // 查询树
          searchTree() {
            if (this.selectVal) {
              const selectData = this.UserAuthTreeIdList.filter(
                  (item) => item.pfChildId === this.selectVal
              );
              if (selectData.length) {
                  const params = {
                      pfTag: selectData[0].pfTag,
                      treeId: selectData[0].treeId,
                      orgId: ''
                  };
                  getProductTree(params).then(({code, data}) => {
                    if (data) {
                        this.treeData = data;
                    }
                  });
              }
            }
          },
          // 组合树下拉
          getSelectData() {
            getSelectData().then((data) => {
              if (data) {
                this.UserAuthTreeIdList = data
                this.selectVal = data[0].pfChildId;
              }
            });
          },
          // 审核状态下拉框
          getcChecked() {
            getcChecked().then((data) => {
              if (data) {
                this.cChecked = data;
              }
            });
          },

          // 机构名称下拉数据
          org() {
            orgList().then((data) => {
              if (data) {
                this.orgList = data;
              }
            });
          },
          // 查询
          searchFilter() {
            this.loading = true;
            const params = {
              ...this.formInline,
              startPage: this.page,
              pageSize: this.size,
            };
            searchHandler(params).then(({ data, total }) => {
              this.total = total;
              this.tableData = data;
              this.loading = false;
            }).catch(()=>{
              this.loading = false;
              this.$message({
                  showClose: true,
                  message: "查询接口异常",
                  type: "error",
                });
            });
          },
          // 查询重置
          resetHandler() {
            this.$refs.searchForm.resetFields();
          },
          // 授权
          editRow(row) {
            specialInfo({ id: row.id }).then(({ data }) => {
              if (data) {
                let infoExts = data.infoExts ? data.infoExts : [];
                infoExts = infoExts.map((item, index) => ({
                  index,
                  ...item,
                }));
                const datas = JSON.parse(JSON.stringify(infoExts));
                this.currentData = { ...data, infoExts };
                this.resetData = { ...data, infoExts: datas };

                this.visible = true;
                this.title = "用户授权";
              } else {
                this.$message({
                  showClose: true,
                  message: "业务办理失败.",
                  type: "error",
                });
              }
            }).catch(()=>{
              this.$message({
                showClose: true,
                message: "编辑接口异常",
                type: "error",
              });
            });
          },
          // 查看
          lookRow(row) {
            specialInfo({ id: row.id }).then(({ data }) => {
              if (data) {
                this.currentData = { ...data, disabled: true };
                this.title = "查看";
                this.visible = true;
              } else {
                this.$message({
                  showClose: true,
                  message: "业务办理失败.",
                  type: "error",
                });
              }
            }).catch(()=>{
              this.$message({
                showClose: true,
                message: "查看接口异常",
                type: "error",
              });
            });
          },
          // 审核/反审核
          handleStatus(row) {
            const params = {
              id: row.id,
              pfId: row.pfId,
              cChecked: row.cChecked ? 0 : 1,
            };
            specialCheck(params).then(({ data }) => {
              if (data == null) {
                this.$message({
                  showClose: true,
                  message: "不能审核/反审核自己创建或修改的记录",
                  type: "error",
                });
              } else if (data) {
                this.$message({
                  showClose: true,
                  message: "业务处理成功",
                  type: "success",
                });
                this.searchFilter();
              } else {
                this.$message({
                  showClose: true,
                  message: "业务办理失败",
                  type: "error",
                });
              }
            }).catch(()=>{
              this.$message({
                showClose: true,
                message: "接口异常",
                type: "error",
              });
            });
          },
          // 每页展示条数
          handleSizeChange(val) {
            this.size = val;
          },
          // 当前页
          handleCurrentChange(val) {
            console.log(`当前页: ${val}`);
            this.page = val;
          },
          // 关闭弹窗
          handleClose() {
            this.visible = false;
            this.currentData = {};
          },
          // 弹窗提交
          submit() {
            console.log(this.currentData);
            if (this.currentData.chgDate > this.currentData.endDate) {
              this.$message({
                showClose: true,
                message: "组合成立日不能大于截止日",
                type: "warning",
              });
              return;
            }
            this.$refs.form.validate((valid) => {
              if (valid) {
                // 提交
                const request = this.currentData.id
                  ? specialUpdate
                  : specialStrategySave;
                request(this.currentData).then(({ data }) => {
                  if (data) {
                    this.$message({
                      showClose: true,
                      message: "业务办理成功.",
                      type: "success",
                    });
                    this.visible = false;
                    this.searchFilter();
                  } else {
                    this.$message({
                      showClose: true,
                      message: "业务办理失败.",
                      type: "error",
                    });
                  }
                }).catch(()=>{
                  this.$message({
                    showClose: true,
                    message: "接口异常",
                    type: "error",
                  });
                });
              }
            });
          },

        },
      });
    </script>
  </body>
</html>
